In [ ]:
a=5
b=5
c="Rashi"

print(id(a))
print(id(b))
print(id(c))

138322021171568
138322021171568
138321587105584

In [ ]:
a=[10,67.08,'raashid']
print(type(a))
print(a[1:3])
print(a[:])
print(a[:2])

<class 'list'>
[67.08, 'raashid']
[10, 67.08, 'raashid']
[10, 67.08]

In [ ]:
a,b=(int(x) for x in input('enter the value').split())
print(a*b)

enter the value2 5
10

In [ ]:
numbers=[int(x) for x in input('enter the value').split()]
print(numbers)
for x in numbers:
    print(x)

enter the value4 5 6 7 8 9
[4, 5, 6, 7, 8, 9]
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
    print('*'*(i+1),end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
rows = 16
for i in range(rows):
    print(" " * (rows - i - 1), end="")
    print("^" * (2 * i + 1))
for i in range(rows-6):
    print(" "*13,end="")
    print("|" * 4)

               ^
              ^^^
             ^^^^^
            ^^^^^^^
           ^^^^^^^^^
          ^^^^^^^^^^^
         ^^^^^^^^^^^^^
        ^^^^^^^^^^^^^^^
       ^^^^^^^^^^^^^^^^^
      ^^^^^^^^^^^^^^^^^^^
     ^^^^^^^^^^^^^^^^^^^^^
    ^^^^^^^^^^^^^^^^^^^^^^^
   ^^^^^^^^^^^^^^^^^^^^^^^^^
  ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
             ||||
             ||||
             ||||
             ||||
             ||||
             ||||
             ||||
             ||||
             ||||
             ||||

In [ ]:
a,b,c=1,2,3
l=[a,b,c]
print(type(l))

<class 'list'>

In [ ]:
a = 10
b = 3
a//=b

print(a)  # Output: 3

3

In [ ]:
l1=[1,2,3]
l2=[1,2,3]
print(id(l1),id(l2))
print(l1 is l2)
l3=[1,3,2]
print(l1 is l3)
print(l1==l2)

136679221953280 136678997416768
False
False
True

In [ ]:
for i in range(10):
    if i ==7:
        print('BREAK')

        continue
    print(i)
print(" iam out of for loop")

0
1
2
3
4
5
6
BREAK
8
9
 iam out of for loop

In [ ]:
i=1
j=1
for i in range(1,11):
  if(i%3!=0):
    j+=2
    continue
  if(j%3==0):
    break
print(i+j)

15

In [ ]:
r=1
for i in range(3,6):
  r*=i
  for j in range(2,i):
    if i%j==0:
      r-=j
print(r)

50

In [ ]:
x=0
for i in range(2,5):
  for j in range(1,i):
    x+=j
    if x%3==0:
      x-=i
print(x)

10

In [ ]:
list=["suny","bunny","chunny","pinny"]
print("sunny" in list)
print("suny" in list)
print("chunny" not in list)
print("pinny" not in list)

False
True
False
False

In [ ]:
l=eval(input("enter input"))
print(type(l))
print(l)

enter input{1,2,3}
<class 'set'>
{1, 2, 3}

In [ ]:
a,b,c=[eval(x) for x in input("enter 3 values").split()]
print(type(a),type(b),type(c))
print(a,b,c)

enter 3 values"hello" [1,2,3] {1,2,3}
<class 'str'> <class 'list'> <class 'set'>
hello [1, 2, 3] {1, 2, 3}

In [ ]:
s="Farhan"
print(s[2:4])

rh

In [ ]:
s="hello "
a="moitheen"
r=s+" "+a
r1=s*5
length=len(r)
print(length)

print(r)
print(r1)

15
hello  moitheen
hello hello hello hello hello

In [ ]:
s="           hello         "

print(s)
r=s.strip()
print(r)

           hello
hello

In [ ]:
s="banana"
print(s.find("an",2,-1))
print(s.count("an"))

3
2

In [ ]:
s="abcabcabcabcadda"
print(s.count("a",2,10))
print(s.count("abc"))
print(s.count("a"))

3
4
6

In [ ]:
numbers = [1, 2, 3]

for i in numbers:
    for j in numbers:
        if i != j:
            for k in numbers:
                if k != i and k != j:
                    print(i, j, k)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
a=range(1,10,1)
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
s="abababababababababab"
s1=s.replace("b","a")
print(s1)

aaaaaaaaaaaaaaaaaaaa

In [ ]:
s="learning the python is easy"
print(s.startswith("learning"))
print(s.endswith("learning"))
print(s.endswith('easy'))

True
False
True

In [ ]:

s="Robotics and AI"
l=s.split()
for i in l:
  print(i)
print(l)
print(type(l))

Robotics
and
AI
['Robotics', 'and', 'AI']
<class 'list'>

In [ ]:
s=("Robotics","and","AI")
j=' '.join(s)
k='_'.join(s)
print(j)
print(k)
a=j.upper()
b=j.lower()
c=j.swapcase()
d=j.title()
e=j.capitalize()
print(a)
print(b)
print(c)
print(d)
print(e)

Robotics and AI
Robotics_and_AI
ROBOTICS AND AI
robotics and ai
rOBOTICS AND ai
Robotics And Ai
Robotics and ai

In [ ]:
s="Hello World"
S=''
x=len(s)-1
while x>=0:
  S+=s[x]
  x-=1
print(S)

dlroW olleH

In [ ]:
s='Learning Python is very easy'
#S=s.split()
S1=s[::-1]
S2=''.join(S1)
print(S2)

ysae yrev si nohtyP gninraeL

In [ ]:
s='Learning Python is very easy'
S=s.split()
S1=S[::-1]
S2=' '.join(S1)
print(S2)

easy very is Python Learning

In [ ]:
a='kottayam'
b='pampaadi'
s=''
min_length=min(len(a),len(b))
for i in range(min_length):
  s+=a[i]+b[i]
print(s)

kpoatmtpaayaadmi

In [ ]:
s='AABCEDDDAABBCCEEDDADEB'
a=''
for x in s:
  if x not in a:
    a+=x
print(a)

In [ ]:
l1=list(range(0,10,2))
print(l1)
print(type(l1))
s={1,2,2,3,3,3,4,5,5,6}
l2=list(s)
print(l2)
print(type(l2))

[0, 2, 4, 6, 8]
<class 'list'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

In [ ]:
l=list(range(0,100,10))
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
n=[1,2,3,4,5]
n.insert(10,98)
n.insert(-10,100)
print(n)

[100, 1, 2, 3, 4, 5, 98]

In [ ]:
n=[10,20,10,30]
n.remove(10)
print(n)

[20, 10, 30]

In [ ]:
n=[10,20,30,40]
print(n.pop())
print(n.pop(0))
print(n)

40
10
[20, 30]